img {
    max-width: 100%;
    height: auto;
}

h1{
    font-size: 30px;
        margin-top: 20px;
        padding: 0;
        line-height: 1;
        font-weight: 700;
        letter-spacing: 0.5px;
        font-family: "Poppins", sans-serif;
}